#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





/* Style the container for the links */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 10px;
}

/* Style the individual links */
nav a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

/* Active link styles */
nav a.active {
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
}

/* Add a margin at the top for spacing */
body {
  margin-top: 20px;
}

/* Styles for the NonVeg component */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjustments to align buttons properly */
li span {
  flex-grow: 1;
  margin-right: 10px;
}

li:nth-child(even) {
  background-color: #f1f1f1;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* Align button within flex container */
}

button:hover {
  background-color: #12e34d;
}

button:active {
  background-color: #12e079;
}

button:focus {
  outline: none;
}
